.container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 5px 0 5px 0; */
}

.root {
  display: flex;
  max-width: 335px;
  width: 325px;
  margin: 5px;
}

.media {
  height: 180px;
}

.img {
  width: 75%;
}
